<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team4.packagetrackingapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DeliveryExecutive"
            android:label="@string/title_activity_delivery_executive"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".GPS_Service" />

        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DeliveryDashboard"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".ScanUpdateActivity"
            android:parentActivityName=".DeliveryDashboard" />
        <activity
            android:name=".ViewPackagesActivity"
            android:parentActivityName=".DeliveryDashboard" />
        <activity
            android:name=".SellerDashboard"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".AddPackageActivity"
            android:parentActivityName=".SellerDashboard" />
        <activity
            android:name=".TrackPackage"
            android:parentActivityName=".SellerDashboard" />
        <activity
            android:name=".TrackResultActivity"
            android:parentActivityName=".SellerDashboard" />
        <activity
            android:name=".PackageDetailsActivity"
            android:parentActivityName=".ViewPackagesActivity" />
        <activity
            android:name=".viewNotifications"
            android:parentActivityName=".SellerDashboard" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".SellerDashboard" />
    </application>

</manifest>